.paving_works_top {
  .order_works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .order_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-blue);
    color: #fff;
    max-width: 340px;
    width: 100%;
    padding: 9px 16px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    h6 {
      font-size: 18px;
      font-weight: 200;
      font-family: 'Roboto', sans-serif;
    }
    &:hover {
      background: #1e4262;
      transform: scale(1.02);
    }
  }
  .bg_none {
    background: none;
    h6 {
      font-weight: 600;
      color: var(--color-blue);
    }
    &:hover {
      background: none;
      transform: scale(1);
    }
  }
}
.pricing-left {
  text-align: center;
}
.pricing-right {
  div {
    width: 100%;
    background-color: #eee;
    padding: 50px 15px;
    border-radius: 10px;
    ul {
      list-style: none;
      margin-top: 15px;
      line-height: 1.5;
      li {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
}
.load_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 18px 0px;
  max-width: 300px;
  width: 100%;
  background-color: var(--color-yellow);
  color: var(--color-blue);
  border-radius: 10px;
  transition: backgraung 0.2s ease-in-out;
  cursor: pointer;
  &.catalog_btn {
    padding: 33px 0px;
    max-width: 328px;
    width: 100%;
    img {
      filter: brightness(8%) contrast(48%);
    }
    span {
      vertical-align: top;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
  span {
    font-size: 18px;
  }
  &:hover {
    color: #333;
  }
}
.catalog {
  .catalog_left {
    div {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .catalog_right {
    div {
      p {
        margin: 20px 0px;
        line-height: 180%;
        font-size: 20px;
        color: #333;
      }
      a {
        span {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}
.popular_orders {
  .popular_orders_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .orders_item_inner {
    h5 {
      font-size: 18px;
    }
    .img_wrap {
      width: 360px;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
      }
      &:hover {
        background: #fff;
        opacity: 0.8;
      }
    }
    button {
      width: 100%;
      background-color: var(--color-blue);
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 500;
      padding: 5px 10px;
      border: none;
      outline: none;
      &:hover {
        background-color: var(--color-blue-hover);
      }
    }
  }
}

.get_free_items {
  .get_free_item {
    display: flex;
    height: 90px;
    align-items: center;
    background: var(--color-yellow);
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 16px;
    img {
      width: 28px;
      height: 28px;
      margin-right: 30px;
      margin-left: 20px;
    }
    span {
      font-size: 18px;
      line-height: 110%;
    }
  }
}

@media screen and (max-width: 991px) {
  .pricing-right {
    div {
      padding: 20px 10px;
      ul {
        padding-left: 16px !important;
        li {
          font-size: 18px;
        }
      }
    }
  }
  .popular_orders_items {
    justify-content: space-around !important;
    .orders_item_inner {
      h5 {
        font-size: 16px;
      }
      .img_wrap {
        width: 330px;
        height: 160px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .popular_orders_items {
    justify-content: center !important;
    .orders_item_inner {
      h5 {
        font-size: 19px;
      }
      .img_wrap {
        width: 100%;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
